.example-spacer {
    flex: 1 1 auto;
}
.example-spacer1 {
    flex: 0.3 1 auto;
}
mat-card {
    margin-top: 20px;
}

div mat-card {
    padding: 0px;
}
.menu {
    padding: 20px;
}
.example-button-container {
    display: flex;
    justify-content: center;
    width: 12px;
  }

mat-spinner {
    display: block;
    position: fixed;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    top: 50%;
    bottom: 0 auto;
    left: 50%;
}