.example-spacer {
    flex: 1 1 auto;
}
.example-spacer1 {
    flex: 0.05 1 auto;
}
div .card{
    padding: 0px;
    margin-bottom: 100px;
}

.bkgclr {
    background-color: rgba(0, 0, 0 , 0.15);
}
.mat-card {
    margin-top: 10px;
}
form {
    padding: 20px;
}
.mat-form-field ~ .mat-form-field {
    margin-top: 15px;
}
 button {
     margin-top: 20px;
     margin-bottom: 10px;
 }
 