.example-spacer {
    flex: 1 1 auto;
}
.example-spacer1 {
    flex: 0.05 1 auto;
}
div .card{
    padding: 0px;
    margin-bottom: 100px;
}

.bkgclr {
    background-color: rgba(0, 0, 0 , 0.15);
}
.pre {
    white-space: pre-line;
}
.mat-card {
    margin-top: 10px;
}
form {
    padding: 20px;
}
.form1 {
    background-color: rgba(0, 0, 0 , 0.15); 
    padding: 4px;
}
.mat-form-field ~ .mat-form-field {
    margin-top: 15px;
}

 button {
     margin-top: 20px;
     margin-bottom: 10px;
 }
 .example-loading-shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 56px;
    left: 0;
    right: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.15);
}