.example-spacer {
    flex: 1 1 auto;
}

.example-spacer1 {
    flex: 0.1 1 auto;
}

mat-card {
    margin-top: 35px;
}

div mat-card {
    padding: 0px;
}

.menu {
    padding: 20px;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 12px;
}

  .example-loading-shadow {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 56px;
      left: 0;
      right: 0;
      align-items: center;
      display: flex;
      justify-content: center;
      background: rgba(0, 0, 0, 0.15);
  }
  .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .mat-sidenav {
      width :50%;
  }
  .video{
      height: 7%;
      width :70%;
      margin-left: 50%;
  }
  .catagory{
    margin-top: 50px;
    height: 7%;
    width :70%;
    margin-left: 50%;
}
.assessment{
  margin-top: 80px;
  height: 7%;
  width :70%;
  margin-left: 50%;
}
  
  h1.example-app-name {
    margin-left: 20px;
  }
  
  .example-sidenav-container {
    flex: 1 0 auto;
  }