<div fxLayout="column" fxLayoutAlign="space-between">
    <mat-toolbar color="primary">
        <span>Exam Scheduler Page : </span>
        <span class="example-spacer"></span>
        <button mat-flat-button color="primary" (click)="signOut()">Logout
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </mat-toolbar>
    <div fxLayoutAlign="center">
        <mat-card [fxFlex]="size" [ngStyle]="{'margin-top': top, 'margin-bottom': bottom}">
            <mat-toolbar color="warn">
                <span>Schedule exam : </span>
            </mat-toolbar>
            <form fxLayout="column" fxLayoutAlign="center" [formGroup]="schedule">
                <mat-form-field >
                    <mat-label>Select the assesment:</mat-label>
                    <mat-select formControlName="assessment" required>
                        <mat-option value="Assesment1"> assesment1</mat-option>
                    </mat-select>
                    <mat-error>
                        Assessment is required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Schedule Date:</mat-label>
                    <input formControlName="date" matInput [matDatepicker]="picker" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                    <mat-error>
                      Date is Required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="time" matInput placeholder="Schedule Time:" required>
                    <mat-hint>format 13:24:00</mat-hint>
                    <mat-error>
                        Time is Required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="duration" matInput placeholder="Duration:" required>
                    <span matSuffix>minutes</span>
                    <mat-error>
                        Duration is Required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Select the users:</mat-label>
                    <mat-select formControlName="users" multiple required>
                        <mat-option *ngFor="let user of userList" [value]="user.id" (click)="onAppend(user.id)">{{user.id}}</mat-option>
                    </mat-select>
                    <mat-error>
                        Users is Required.
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="onSchedule()" [disabled]="schedule.invalid">Schedule</button>
            </form>
        </mat-card>
    </div>
</div>
