<div class="example-loading-shadow" *ngIf="quesDatas.length === 0">
    <mat-spinner ></mat-spinner>
</div>

<div>
    <mat-toolbar color="primary">
        <span> Welcome {{userName}} !</span>
        <span class="example-spacer"></span>
        <button mat-flat-button color="primary" (click)="signOut()">Logout
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </mat-toolbar>
    <form fxLayout="column" *ngIf="quesDatas.length !== 0">
        <div fxLayout="row" fxLayoutAlign="space-between">
            <span></span>
            <p><b>Time Left : </b> <countdown  [config]="{leftTime: 10}" (event)="handleEvent($event)"></countdown></p>
        </div>
            <div *ngFor="let data of quesDatas">
                <mat-label>{{data.index}}){{data.assesment1.qa}}</mat-label>
                <mat-radio-group fxLayout="column">
                    <mat-radio-button [value]="data.assesment1.opt1" (click)="save(data.assesment1.qa,data.assesment1.opt1)">{{data.assesment1.opt1}}</mat-radio-button>
                    <mat-radio-button [value]="data.assesment1.opt2" (click)="save(data.assesment1.qa,data.assesment1.opt2)">{{data.assesment1.opt2}}</mat-radio-button>
                    <mat-radio-button [value]="data.assesment1.opt3" (click)="save(data.assesment1.qa,data.assesment1.opt3)">{{data.assesment1.opt3}}</mat-radio-button>
                    <mat-radio-button [value]="data.assesment1.opt4" (click)="save(data.assesment1.qa,data.assesment1.opt4)">{{data.assesment1.opt4}}</mat-radio-button>
                </mat-radio-group>
            </div>
            <div [ngStyle]="{'width': deviceXS}" fxLayoutAlign="center">
                <button mat-raised-button color="primary" >submit</button>
            </div>
    </form>
</div>
    

