<div class="example-loading-shadow" *ngIf="assessmentData.length === 0">
    <mat-spinner></mat-spinner>
</div>
<mat-toolbar color="primary">
    <span>View Assessments</span>
    <span class="example-spacer"></span>
    <button mat-button>
        <mat-icon>account_circle</mat-icon>
        {{userName}}
    </button>
    <span class="example-spacer2"></span>
    <button mat-button (click)="signOut()">Logout
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>
<div class="bkgclr" *ngIf="assessmentData.length > 0" fxLayoutAlign="center">
    <mat-card fxFlex="85" [ngStyle]="{'margin-top': top1, 'margin-bottom': bottom1}">
        <form fxLayout="column" [formGroup]="Update">
            <div fxLayout="row" fxLayoutAlign="space-between">
                <div fxLayout="row" fxLayoutAlign="space-around center">
                    <button mat-fab color="accent" fxLayoutAlign="center" [disabled]="!back" (click)="onBack()">
                        <mat-icon>arrow_back_ios</mat-icon>
                    </button>
                </div>
                <div *ngFor="let data of assessmentData | filter:Loop:'ifloop'; let i = index;" fxFlex="100">
                    <div fxLayout="row" fxLayoutAlign="space-around center">
                        <mat-checkbox [checked]="isChecked" (click)="onDelete(Loop)"></mat-checkbox>
                        <button class="pre"  mat-raised-button [disabled]="(update.value)? fa: true"
                            [color]="(SelOption === data.qa)? 'accent':''" (click)="onUpdate(data.qa,'','','')">
                            Question : {{Loop+1}}){{data.qa}} </button>
                        <span></span>
                        <span></span>
                    </div>
                    <mat-grid-list [cols]="col" rowHeight="100px">
                        <mat-grid-tile *ngFor="let option of data.options; let j = index;">
                            <button class="pre"  fxFlex="65" mat-raised-button
                                [disabled]="(update.value)? false: true"
                                [color]="(SelOption === option)? 'accent':''"
                                (click)="onUpdate(data.qa,'' ,option,j)">
                                Option {{j}} : {{option}} </button>
                        </mat-grid-tile>
                    </mat-grid-list>

                    <div fxLayoutAlign="center">
                        <button class="pre"  mat-raised-button fxFlex="65" [disabled]="(update.value)? false: true"
                            [color]="(SelOption === data.ans)? 'accent':''"
                            (click)="onUpdate(data.qa,data.ans,'','')">
                            Answer : {{data.ans}} </button>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center">
                        <mat-form-field fxFlex="65">
                            <mat-label> Update qa or ans or option at a time</mat-label>
                            <textarea matInput formControlName="update"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayoutAlign="space-around center">
                    <button mat-fab color="accent" fxLayoutAlign="center" [disabled]="next" (click)="onNext()">
                        <mat-icon>arrow_forward_ios</mat-icon>
                    </button>
                </div>
            </div>
            <div  fxLayoutAlign="space-around center">
                <button mat-raised-button  *ngIf="assessmentData.length -1 === Loop" color="primary" (click)="onSubmit()">Submit</button>
            </div>
        </form>
    </mat-card>
</div>