<div class="example-loading-shadow" *ngIf="catagoryList.length === 0">
    <mat-spinner></mat-spinner>
</div>
<div fxLayout="column" fxLayoutAlign="space-between">
    <mat-toolbar color="primary">
        <span>Manage Catagory</span>
        <span class="example-spacer"></span>
        <button mat-flat-button color="primary" (click)="signOut()">Logout
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </mat-toolbar>
    <div class="bkgclr" fxLayoutAlign="center" *ngIf="catagoryList.length > 0">
        <mat-card [fxFlex]="device">
            <mat-toolbar color="warn">
                <span>Update Catagory </span>
            </mat-toolbar>
            <form fxLayout="column" fxLayoutAlign="center" [formGroup]="Catagories">
                <mat-form-field>
                    <mat-label>Catagory:</mat-label>
                    <mat-select formControlName="catagory" required>
                        <mat-option *ngFor="let data of catagoryList; let i = index;" [value]="data.value.catagory"
                            (click)="getId(data.id)">{{data.value.catagory}}</mat-option>
                    </mat-select>
                    <mat-error>
                        Catagory is required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="catagory1" placeholder="Enter new Catagory value: " required>
                    <mat-error>
                        New Catagory Value is Required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Sub-Catagory:</mat-label>
                    <mat-select formControlName="subcatagory" required>
                        <mat-option *ngFor="let subcatagory of catagoryList | filter:subIndex:'elseifloop1'"
                            [value]="subcatagory">{{subcatagory}}</mat-option>
                    </mat-select>
                    <mat-error>
                        Sub-Catagory is required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="subcatagory1" placeholder="Enter new Sub-Catagory value: ">
                    <mat-error>
                        New Sub-Catagory Value is Required.
                    </mat-error>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="space-around center">
                    <div class="example-button-container">
                        <button mat-mini-fab color="accent" (click)="onUpdate()">
                            <mat-icon>update</mat-icon>
                        </button>
                    </div>
                    <div class="example-button-container">
                        <button mat-mini-fab color="warn" (click)="onDelete()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>    
            </form>
        </mat-card>
    </div>
</div>