div {
    display: flex;
    margin-top: 15%;
}
div mat-card{
    padding: 0px;
}
form {
    padding: 20px;
}
.mat-raised-button ~ .mat-raised-button {
    margin-top: 10px;
    margin-bottom: 10px;
}
  