.example-spacer {
    flex: 1 1 auto;
}

div .card{
    padding: 0px;
    margin-bottom: 100px;
}
.bkgclr {
    background-color: rgba(0, 0, 0 , 0.15);
}

.mat-card {
    margin-top: 10px;
}
form {
    padding: 20px;
}
.form1 {
    background-color: rgba(0, 0, 0 , 0.15); 
    padding: 4px;
}
 button {
     margin-top: 20px;
     margin-bottom: 10px;
 }
 