.example-spacer {
    flex: 1 1 auto;
}
.outer-form {
    background-color: rgba(0, 0, 0, 0.15);
}
div mat-card  {
    margin-top: 30px;
}

div mat-card mat-card {
    margin-top: 10px;
    padding: 0px;
}
.mat-card ~ .mat-card {
    margin-top: 30px;
}
 youtube-player {
     display: flex;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}