.example-spacer {
    flex: 1 1 auto;
}
.outer-form {
    background-color: rgba(0, 0, 0, 0.15);
}


div mat-card mat-card {
    margin-top: 10px;
    padding: 0px;
}

 youtube-player {
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}